.skills {
  margin-top: 30px;

  .skills__title {
    font-family: $font-family-title;
    font-size: $font-size-t5;
    line-height: $line-height-t5;
    letter-spacing: 5px;
    text-transform: uppercase;
    font-weight: 700;
    color: $color-text-additional;
    margin-bottom: 40px;
  }

  .skills__group {
    margin-bottom: 30px;
    &:last-child { margin-bottom: 0; }
  }

  .skills__group-title {
    font-family: $font-family-additional;
    font-size: $font-size-t5;
    line-height: $line-height-t5;
    text-transform: uppercase;
    color: $color-text-additional;
    margin-bottom: 12px;
  }

  .tags li {
    margin-bottom: 10px;
    font-family: $font-family-title;
    font-size: 13px;
    line-height: 20px;
    color: $color-accent;
    border: 1px solid #e6e6e6;
    box-shadow: none;
  }
}
